.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  column-gap: var(--padding-header-content);
}

.headerLeftSide {
  display: flex;
  column-gap: var(--padding-header-content);
  align-items: center;
  @media (max-width: 880px) {
    display: none;
  }
}

.navbarContainer {
  @media (max-width: 880px) {
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100dvw;
    min-width: 100dvw;
    height: var(--navigate-bottom-height);
    display: flex;
    align-items: center;
    padding-inline: var(--padding-content-block);
    overflow: hidden;
    box-shadow: 0 4px 20px #0000001a;
    border-top: 1px solid #f1f1f5;
  }
}
