.actionButtonSvg {
  height: 32px;
  width: 32px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  & path {
    stroke: #a9a8b0;
    transition: stroke 0.2s linear;
  }

  &:hover {
    & path {
      stroke: black;
    }
  }
}
