.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: var(--padding-main-content);
}

.root {
  display: grid;
  grid-template-columns: 1fr 360px;
  column-gap: var(--padding-main-content);

  @media (max-width: 880px) {
    display: flex;
    flex-direction: column;
    row-gap: var(--padding-main-content);
  }
}

.carouselsList {
  display: flex;
  flex-direction: column;
  row-gap: var(--padding-main-content);
}
